#canvas {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0px;
    left:0px;
    z-index: 10;
}

#form {
    position: absolute;
    height: 100vh;
    width: 30vw;
    left: 35vw;
    background: rgba(0, 0, 0, 0.3);
    z-index: 20;
    color: white;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;;
}

label {
    margin-left: 5vw;
    font-size: 2vw;
    margin-top: 15vh;
}

.button-main {
    background: rgba(255, 255, 255, 0.5);
    border-width: 0px;
    width: 20vw;
    margin-left: 5vw;
    margin-top: 15vh;
    font-size: 2vw;
}

h2 {
    margin-top: 120px;
    text-align: center;
}

#body {
    background:linear-gradient(to top right, rgb(0, 0, 0) 40%,rgb(50, 50, 50) 0.1%,rgb(50, 50, 50) 60%, rgb(0, 0, 0) 0.1%, rgb(0, 0, 0) 100%);
    overflow: hidden;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    display: inline-block;
    margin: 0px auto;
}

#zal {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5vw;
    position: absolute;
    z-index: 40;
}

#footer {
    background: black;
    position: absolute;
    left: 0px;
    top: 90vh;
    height: 10vh;
    width: 100vw;
}

#head {
    background: black;
    position: absolute;
    left: 0px;
    top: 0px;
    height: 10vh;
    width: 100vw;
}

.book {
    background: rgba(255, 255, 255, 0.2);
    width: 25vw;
    height: 22vh;
    margin: 1.5vw;
    margin-right: 0px;
    margin-left: 6.3vw;
    float: left;
}

.tyt {
    background: rgba(255, 255, 255, 0.2);
    font-size: 3vh;
    height: 15%;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#czyt {
    position: absolute;
    right: -100vw;
}

.arrow {
    position: absolute;
    height: 10vh;
    font-size: 10vh;
    width: 5vw;
    top: 45vh;
    color: white;
    background: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.info {
    margin: 1vh;
    size: 1.5vh;
}

#searchbar {
    background: rgba(255, 255, 255, 0.5);
    height: 4vh;
    margin-top: 3vh;
    margin-left: 2vw;
    border-width: 0px;
    width: 15vw;
    font-size: 2vh;
}

#sub {
    background: rgba(255, 255, 255, 0.5);
    height: 4vh;
    width: 10vw;
    margin-left: 3vw;
    border-width: 0px;
}

.buy-button {
    background: rgba(255, 255, 255, 0.5);
    height: 4vh;
    width: 5vw;
    border-width: 0px;
    margin-left: 1vh;
}

#zal-head {
    text-align: right;
    margin-right: 4vh;
    height: 2vh;
    color: white;
    font-size: 2vh;
    margin-top: -4vh;
}

#login-box {
    background: rgba(0, 0, 0, 0.3);
    color: white;
    width: 20vw;
    z-index: 20;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 4vh;
    font-size: 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#buy_name {
    background: rgba(255, 255, 255, 0.2);
    color: white;
    font-size: 3vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    height: 10vh;
    width: 30vw;   
}

.edit-name {
    background: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 6vh;
}